@media (max-width: 1800px) and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__btn-search {
    margin-left: 0;
  }

  .about__content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .about__left {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__btn-search {
    margin-left: 0;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
  }

  .burger:focus-visible {
    outline-offset: 5px;
    outline: 2px solid var(--color-orange-1);
  }

  .burger__line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-black-1);
    transform: translate(-50%);
  }

  .burger__line:first-child {
    top: -2px;
    left: 50%;
  }

  .burger__line:nth-child(2) {
    top: 9px;
    height: 3px;
    transform: translate(-50%, -50%);
  }

  .burger__line:last-child {
    left: 50%;
    bottom: 2px;
  }

  .burger--active {
    z-index: 2000;
  }

  .burger--active .burger__line:first-child {
    top: 50%;
    left: 0;
    transform: rotate(45deg);
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 0;
    transform: rotate(-45deg);
  }

  .header__nav {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 170px;
    padding-left: 50px;
    min-width: 420px;
    height: 100vh;
    background-color: var(--color-white-1);
    box-shadow: 0px 5px 40px #0000001a;
    border-radius: 0px 0px 32px 32px;
    visibility: hidden;
    transform: translateX(-120%);
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__list {
    flex-direction: column;
  }

  .header__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .header__link {
    font-size: 24px;
  }

  .header__logo {
    padding: 26px 0;
  }

  .header__btn-search {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
  }

  .hero__wrapper {
    padding: 36px 0;
  }

  .hero__swiper {
    height: 668px;
  }

  .hero__wrapper-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    max-width: 770px;
    width: 100%;
    padding-top: 160px;
    padding-left: 77px;
    padding-bottom: 50px;
  }

  .hero__banner-1 {
    background-image: url('../img/hero-banner-1-table.png');
  }

  .hero__banner-2 {
    background-image: url('../img/hero-banner-2-table.png');
  }

  .hero__banner-3 {
    background-image: url('../img/hero-banner-3-table.png');
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .hero__description {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .about {
    padding-bottom: 80px;
  }

  .about__left {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .about-img {
    max-width: 924px;
    height: 640px;
    background-image: url('../img/about-img-1024.png');
  }

  .about__wrapper {
    background-color: transparent;
    padding: 65px 157px 65px 77px;
  }

  .about__content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .about__text {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    padding: 8px 0;
  }

  .hero__wrapper {
    padding: 40px 0;
    border-radius: 24px;
  }

  .hero__swiper {
    height: 663px;
}

  .hero__wrapper-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    max-width: 650px;
    width: 100%;
    padding-top: 160px;
    padding-left: 40px;
    padding-bottom: 50px;
  }

  .hero__banner {
    border-radius: 24px;
  }

  .hero__banner-1 {
    background-image: url('../img/hero-banner-1-768.png');
  }

  .hero__banner-2 {
    background-image: url('../img/hero-banner-2-768.png');
  }

  .hero__banner-3 {
    background-image: url('../img/hero-banner-3-768.png');
  }

  .hero__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 16px;
  }

  .hero__description {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 56px;
  }

  .about__left {
    border-radius: 24px;
  }

  .about__action {
    padding: 34px 40px;
    border-radius: 27px;
  }

  .about__action-description {
    margin-right: 47px;
  }

  .about__title {
    margin-bottom: 16px;
  }

  .about__wrapper {
    background-color: transparent;
    padding: 35px 48px 35px 40px;
  }

  .about__icon {
    margin-right: 16px;
    width: 114px;
    height: 99px;
  }
}

@media (max-width: 768px) {
  .about-img {
    max-width: 924px;
    height: 650px;
    background-image: url('../img/about-img-768.png');
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }

  .header {
    border-radius: 0px 0px 16px 16px;
  }

  .header__logo {
    padding: 15px 0;
  }

  .header__nav {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-left: 15px;
    min-width: 320px;
    height: 100vh;
  }

  .header__nav--active .header__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__nav .header__link {
    font-size: 16px;
  }

  .hero__wrapper {
    padding: 29px 0;
    border-radius: 16px;
  }

  .hero__banner {
    border-radius: 16px;
  }

  .hero__swiper {
    height: 308px;
  }

  .hero__wrapper-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    min-width: 280px;
    width: 100%;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .hero__banner-1 {
    background-image: url('../img/hero-banner-1-mobile.png');
  }

  .hero__banner-2 {
    background-image: url('../img/hero-banner-2-mobile.png');
  }

  .hero__banner-3 {
    background-image: url('../img/hero-banner-3-mobile.png');
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .hero__title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 11px;
  }

  .hero__description {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 32px;
  }

  .hero__btn-link {
    text-align: center;
    display: inline-block;
    background-color: var(--color-orange-1);
    color: var(--color-white-1);
    padding: 13px 28px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    border-radius: 8px;
    transition: background-color .3s ease-in-out;
  }

  .about {
    padding-bottom: 60px;
  }

  .about__text {
    margin-bottom: 14px;
  }

  .about-img {
    max-width: 290px;
    height: 200px;
    background-image: url('../img/about-img-320.png');
  }

  .about__action {
    display: none;
  }

  .about__left {
    margin-bottom: 10px;
  }

  .about__action--mobile {
    display: block;
    margin-bottom: 32px;
  }

  .about__action-description {
    max-width: 433px;
    color: var(--color-black-1);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about__btn-link {
    color: var(--color-orange-1);
    display: inline-block;
    padding: 12px 38px;
    border-radius: 8px;
    line-height: 19px;
    font-weight: 700;
  }

  .about__icon {
    margin-right: 0;
    margin-bottom: 12px;
    width: 64px;
    height: 49px;
  }

  .about__wrapper {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: none;
  }

  .about__subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .about__story-description {
    font-size: 14px;
    line-height: 28px;
  }
}
