:root {
  --color-grey-1: #CACACA;
  --color-grey-2: #666666;
  --color-grey-3: #414141;
  --color-black-1:#000000;
  --color-black-2: #0000001a;
  --color-black-3: #0000001f;
  --color-balck-4: #00000080;
  --color-white-1: #ffffff;
  --color-orange-1: #FF9900;
  --color-orange-2: #E1670E;
  --color-orange-3: #FFB84D;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.btn {
  cursor: pointer;
}

.btn-reset {
  background-color: transparent;
  border: none;
}

.off-scroll {
  overflow: hidden;
}

.offset {
  padding: 100px;
}

.title,
.description {
  margin: 0;
}

.about__action--mobile {
  display: none;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-white-1);
  box-shadow: 0px 5px 40px var(--color-black-2);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  align-items: center;
  justify-content: space-between;
}

.burger {
  cursor: pointer;
  display: none;
}

.header__logo {
  padding: 12px 0;
  margin-right: auto;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  transition: color .3s ease-in-out;
}

.header__link:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange-1);
}

.header__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange-1);
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.header__link:hover::after {
  opacity: 1;
}

.header__link:active {
  color: var(--color-orange-2);
  opacity: 1;
}

.header__link:active::after {
  background-color: var(--color-orange-2);
  color: var(--color-orange-2);
  opacity: 1;
}

.header__btn-search {
  padding: 0;
  margin: 0;
  margin-left: 260px;
  width: 24px;
  height: 24px;
}

.header__btn-search:focus-visible {
  outline-offset: 6px;
  outline: 2px solid var(--color-orange-1);
}

.header__search-icon rect {
  fill: var(--color-black-1);
  transition: fill .3s ease-in-out;
}

.header__search-icon path {
  fill: none;
  stroke: var(--color-black-1);
  stroke-width: 2px;
  transition: stroke .3s ease-in-out;
}

.header__search-icon:hover rect {
  fill: var(--color-orange-1);
}

.header__search-icon:hover path {
  stroke: var(--color-orange-1);
}

.header__search-icon:active rect {
  fill: var(--color-orange-1);
}

.header__search-icon:active path {
  stroke: var(--color-orange-1);
}

.hero__wrapper {
  padding: 50px 0;
}

.hero__swiper {
  position: relative;
  z-index: 10;
  max-width: 1770px;
  width: 100%;
  height: 620px;
  border-radius: 32px;
}

.hero-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--color-white-1);
}

.swiper-pagination-bullet span {
  margin: 0;
}

.hero__banner {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
}

.hero__banner-1 {
  background-image: url('../img/hero-banner-1.png');
}

.hero__banner-2 {
  background-image: url('../img/hero-banner-2.png');
}

.hero__banner-3 {
  background-image: url('../img/hero-banner-3.png');
}

.hero__wrapper-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  max-width: 881px;
  width: 100%;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 55px;
}

.hero__title {
  font-size: 70px;
  line-height: 85px;
  font-weight: 800;
  color: var(--color-white-1);
  margin-bottom: 24px;
}

.hero__description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-white-1);
  margin-bottom: 88px;
}

.hero__btn-link {
  display: inline-block;
  background-color: var(--color-orange-1);
  color: var(--color-white-1);
  padding: 25px 44px;
  font-size: 23px;
  line-height: 28px;
  font-weight: 700;
  border-radius: 16px;
  transition: background-color .3s ease-in-out;
}

.hero__btn-link:focus-visible {
  outline: 0;
  background-color: var(--color-orange-3);
}

.hero__btn-link:hover {
  background-color: var(--color-orange-3);
}

.hero__btn-link:active {
  background-color: var(--color-orange-2);
}

.about {
  padding-bottom: 100px;
}

.about__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  margin-bottom: 20px;
}

.about__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__left {
  border-radius: 32px;
  margin-right: 32px;
}

.about-img {
  position: relative;
  max-width: 868px;
  width: 100%;
  height: 622px;
  background-image: url('../img/about-img.png');
  background-repeat: no-repeat;
}

.about__icon {
  max-width: 190px;
  height: 165px;
  margin-right: 50px;
}

.about__content-text {
  max-width: 450px;
}

.about__action {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-balck-4);
  border-radius: 32px;
}

.about__action-description {
  max-width: 433px;
  color: var(--color-white-1);
  font-weight: 700;
  line-height: 32px;
  margin-right: 160px;
}

.about__btn-link {
  display: inline-block;
  padding: 20px 38px;
  border: 3px solid var(--color-orange-1);
  border-radius: 16px;
  line-height: 19px;
  font-weight: 700;
  color: var(--color-white-1);
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.about__btn-link:focus-visible {
  background-color: var(--color-orange-3);
  border: 3px solid var(--color-orange-3);
}

.about__btn-link:hover {
  background-color: var(--color-orange-3);
  border: 3px solid var(--color-orange-3);
}

.about__btn-link:active {
  background-color: var(--color-orange-2);
  border: 3px solid var(--color-orange-2);
}

.about__wrapper {
  background-color: transparent;
  padding: 65px 120px 65px 60px;
  border: 1px solid var(--color-grey-1);
  border-radius: 32px;
}

.about__wrapper:not(:last-child) {
  margin-bottom: 32px;
}

.about__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 8px;
}

.about__story-description {
  line-height: 32px;
}

.work {
  padding-bottom: 100px;
}

.work__container {
  position: relative;
}

.work__title {
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: var(--color-black-1);
  margin-bottom: 50px;
}

.tabs {
  margin-bottom: 45px;
}

.tabs__btn {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: color .3s ease-in-out;
}

.tabs__btn--active {
  color: var(--color-orange-2);
}

.tabs__btn:focus-visible {
  outline-offset: 3px;
  outline: 1px solid var(--color-orange-1);
}

.tabs__btn:hover {
  color: var(--color-orange-1)
}

.tabs__btn:active {
  color: var(--color-orange-2);
}

.tabs__item:not(:last-child) {
  margin-right: 85px;
}

.work__content {
  display: none
}

.work__content--active {
  display: flex;
}

.work__content-text {
  width: 50%;
  margin-right: 142px;
}

.work__content-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black-1);
  margin-bottom: 8px;
}

.work__content-description {
  min-width: 758px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.work__content-img {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 870px;
  width: 100%;
  height: 460px;
  border-radius: 32px;
}

.work__content-img-tab-1 {
  background-image: url('../img/tab-1.png');
}

.work__content-img-tab-2 {
  background-image: url('../img/tab-2.png');
}

.work__content-img-tab-3 {
  background-image: url('../img/tab-3.png');
}

.work__content-img-tab-4 {
  background-image: url('../img/tab-4.png');
}

.work__action-btn {
  position: absolute;
  bottom: 0;
}

.work__action--link {
  padding: 20px 38px;
}

.work__more {
  display: block;
  background-color: var(--color-orange-1);
  border: 1px solid var(--color-orange-1);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white-1);
  margin-right: 32px;
  outline: 0;
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.work__more:focus-visible {
  background-color: var(--color-orange-3);
  border: 1px solid var(--color-orange-3);
}

.work__more:hover {
  background-color: var(--color-orange-3);
  border: 1px solid var(--color-orange-3);
}

.work__more:active {
  background-color: var(--color-orange-2);
  border: 1px solid var(--color-orange-2);
}

.work__blanc {
  display: block;
  background-color: transparent;
  border: 1px solid var(--color-black-1);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  outline: 0;
  color: var(--color-black-1);
  transition: background-color .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
}

.work__blanc:focus-visible {
  background-color: var(--color-grey-2);
  border: 1px solid var(--color-grey-2);
  color: var(--color-white-1);
}

.work__blanc:hover {
  background-color: var(--color-grey-2);
  border: 1px solid var(--color-grey-2);
  color: var(--color-white-1);
}

.work__blanc:active {
  background-color: var(--color-black-1);
  border: 1px solid var(--color-black-1);
  color: var(--color-white-1);
}

.questions {
  padding-bottom: 100px;
}

.questions__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
}

.accordion__list {
  max-width: 1770px;
  width: 100%;
}

.accordion__item {
  cursor: pointer;
}

.accordion__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 39px;
  padding-bottom: 39px;

  margin-top: -1px;
}

.accordion__btn {
  cursor: pointer;
  border-radius: 100%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid grey;

  font-size: 40px;
  transition-property: transform;
  transition: .2s ease-in-out;
}

.accordion__item:active .accordion__btn {
  transform: rotate(45deg);
}

.accordion__top:hover, .accordion__top:focus-within {
  border-color: orange;
  position: relative;
  z-index: 1;
}

.accordion__top:hover .accordion__btn,
.accordion__top:focus-within .accordion__btn{
  background-color: orange;
  border-color: orange;
  color: #fff;
  outline: none;
}

.accordion__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.accordion__top:hover .accordion__title,
.accordion__top:focus-within .accordion__title {
  color: orange;
}

.accordion__description {
  padding: 30px 0 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.accordion__top:focus-within {
  outline: 0;
}

.accordion__item.is-active .accordion__top {
  border-color: orange;
}

.accordion__item.is-active .accordion__btn {
  transform: rotate(45deg);
  background-color: orange;
  border-color: orange;
  color: #fff;
}

.accordion__item.is-active .accordion__top .accordion__title {
  color: orange;
}

.accordion__item.is-active .accordion__top + .accordion__bottom {
  border-bottom: 1px solid orange;
  position: relative;
  z-index: 2;
}

.accordion__item.ac {
  margin: 0;
  border: none;
}

.accordion__bottom {
  line-height: 2;
}

.footer {
  background-color: var(--color-black-1);
  padding: 50px 0;
}

.footer__container {
  justify-content: space-between;
}

.footer__logo .footer__img{
  margin-bottom: 20px;
  display: block
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-grey-1);
}

.footer__link:focus-visible {
  outline-offset: 4px;
  outline: 1px solid var(--color-orange-1);
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__icon:not(:last-child) {
  margin-right: 25px;
}

.footer__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-grey-1);
  margin-bottom: 25px;
}

.footer__form {
  flex-direction: column;
  align-items: left;
}

.footer__inputs {
  outline: 0;
  border: none;
  padding: 14px 24px;
  max-width: 570px;
  width: 100%;
  background-color: var(--color-grey-3);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.footer__inputs::placeholder {
  color: var(--color-grey-1);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer__description {
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey-1);
}

.footer__message {
  padding-top: 14px;
  padding-left: 24px;
  max-width: 570px;
  width: 100%;
  height: 150px;
  background-color: var(--color-grey-3);
  border-radius: 16px;
  outline: 0;
  border: none;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey-1);
  margin-bottom: 32px;
}

.footer__message::placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey-1);
}

.footer__submit {
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white-1);
  background-color: var(--color-orange-1);
  border-radius: 16px;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}

.footer__submit:focus-visible {
  background-color: var(--color-orange-3);
}

.footer__submit:hover {
  background-color: var(--color-orange-3);
}

.footer__submit:focus-visible {
  background-color: var(--color-orange-2);
}

.footer__mark-checkbox {
  color: var(--color-white-1);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
