.swiper-container {
  width: 100%;
  height: 615px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px;
  cursor: pointer;

}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #fff;
}
